<div class="h-svh">
  <app-form-container
    class="bg-content relative w-full h-full col-span-2 rounded-ss-2xl flex justify-center items-center overflow-hidden"
  >
    @if(isOtp()){
    <app-otp-form (isOtpVerified)="checkIfOtpVerified($event)"></app-otp-form>

    } @else if (isOtpVerified()) {
    <app-change-password-form></app-change-password-form>

    } @else {
    <h1 class="text-[50px] font-bold text-center">Forgot Password</h1>
    <p class="text-center">Please enter your email to receive an OTP</p>
    <app-forget-password-form (isOtpSent)="checkIfOtpSent($event)"></app-forget-password-form>

    }
  </app-form-container>
</div>
