@if (isOpen()) {
<div class="table-dropdown-overlay" (click)="toggleDropdown()"></div>
}
<div class="relative">
  <button
    type="button"
    (click)="toggleDropdown()"
    class="w-fit h-10 border-none rounded-md py-2 text-left focus:outline-none sm:text-sm flex items-center table-dropdown-btn"
  >
    <!-- <div class="flex items-center justify-center h-10 pr-3 rounded-md"> -->
      <app-icon name="more_horiz" [size]="14"></app-icon>
    <!-- </div> -->
  </button>
  @if (isOpen()) {

  <ul class="absolute right-2 z-10 mt-1 w-fit rounded-md shadow-sm bg-white overflow-hidden table-dropdown">
    @for (option of options; track $index) {
    <li class="block px-4 py-2 hover:bg-gray-100 table-dropdown-item">
      <div class="flex items-center">
        <app-icon [name]="option.icon || ''" [color]="option?.color || ''" [size]="22" class="mr-2"></app-icon>
        <button
          type="button"
          class="text-black"
          [style.color]="option?.color"
        >{{ option.label }}</button>
      </div>
    </li>
    }
  </ul>
  }
</div>
