.form-control {
    width: 100%;
    margin-bottom: 15px;
}

.separator {
    content: ' ';
    display: block;
    width: 30%;
    height: 1px;
    background-color: var(--gray-200);
    margin: 20px 0;
}

.row-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.maintenance-schedule {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
