<div class="overview">
    <div class="header">
        <img src="assets/img/img.png" class="item-image" />
        <div class="item-data">
            <div class="item-name">{{ item?.name }}</div>
            @if (item?.quantity >= 1) {
                <div class="item-stock">In Stock</div>
            }
            @if (item?.quantity < 1) {
                <div class="item-out-stock">Out Of Stock</div>
            }
        </div>
    </div>
    <div class="body">
        <div class="row">
            <div class="key">Asset Health</div>
            <div class="value">
                <div class="healt">
                    <app-icon name="battery_saver" color="var(--success-300)"></app-icon>
                    Healthy
                </div>
            </div>
        </div>
        <div class="row">
            <div class="key">Type</div>
            <div class="value">{{ item?.type }}</div>
        </div>
        <div class="row">
            <div class="key">Category</div>
            <div class="value">
                <div class="category">{{ item?.category }}</div>
            </div>
        </div>
        <div class="row">
            <div class="key">RFID Number</div>
            <div class="value">
                <app-icon name="barcode"></app-icon>
                {{ item?.RFIDNo }}
                <app-custom-button
                    text="Print Label"
                    [leftIcon]="{
                        name: 'print'
                    }"
                    styles="background-color: var(--primary-medium-100); width: 129px; height: 40px;"
                ></app-custom-button>
            </div>
        </div>
        <div class="row">
            <div class="key">Serial Number</div>
            <div class="value">{{ item?.serialNo }}</div>
        </div>
        <div class="row">
            <div class="key">Acquisition Date</div>
            <div class="value">{{ formatDate(item?.acquisition) }}</div>
        </div>
        <div class="row">
            <div class="key">Production Date</div>
            <div class="value">{{ formatDate(item?.production) }}</div>
        </div>
        <div class="row">
            <div class="key">Expiration Date</div>
            <div class="value">{{ formatDate(item?.expiration) }}</div>
        </div>
        <div class="row">
            <div class="key">Warranty Expiration</div>
            <div class="value">{{ formatDate(item?.warranty) }}</div>
        </div>
    </div>
</div>