<!-- <div >
    <app-icon name="more_horiz" [size]="14"></app-icon>
</div> -->
    <!-- @if(maintenance) {
        <button class="actions-menu-item">
            <app-icon name="build" [size]="24"></app-icon>
            Maintenance
        </button>
    }
    @if (print) {
        <button class="actions-menu-item">
            <app-icon name="barcode" [size]="24"></app-icon>
            Print Label
        </button>
    }
    @if (transfer) {
        <button class="actions-menu-item">
            <app-icon name="north_east" [size]="24"></app-icon>
            Transfer
        </button>
    }
    @if (details) {
        <button class="actions-menu-item">
            <app-icon name="arrow_forward" [size]="24"></app-icon>
            Details
        </button>
    } -->
    <!-- @if (remove) {
        <button class="actions-menu-item delete">
            <app-icon name="delete_outline" [size]="24"></app-icon>
            Delete Asset
        </button>
    } -->
<app-table-dropdown
  [options]="options"
>
</app-table-dropdown>
