.table-pre-header {
    background-color: var(--gray-25);
    padding: 20px;
    height: 80px;
}

.table-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    position: relative;
}

.icon {
    position: absolute;
    left: 10px;
    top: 25%;
}

.search-inp {
    border: none;
    width: 320px;
    height: 40px;
    border-radius: 4px;
    padding: 0 45px;
    font-size: 14px;
    font-weight: 400;
}

.search-inp:focus {
    border: none;
    outline: none;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.export,
.import {
    width: 99px;
    height: 40px;
    background-color: var(--white);
    border-radius: 4px;
}

.export,
.import,
.create,
.filter {
    color: var(--black);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
}

.create {
    width: 132px;
    height: 40px;
    background-color: var(--primary-medium-100);
    border-radius: 4px;
}

.filter {
    width: 40px;
    height: 40px;
    background-color: var(--primary-medium-100);
    border-radius: 4px;
}