
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $iAsset-primary: mat.define-palette(mat.$indigo-palette);
// $iAsset-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $iAsset-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $iAsset-theme: mat.define-light-theme((
//   color: (
//     primary: $iAsset-primary,
//     accent: $iAsset-accent,
//     warn: $iAsset-warn,
//   ),
//   typography: mat.define-typography-config(),
//   density: 0
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($iAsset-theme);

@import './scss/theme.scss';
@import './scss/color-palette.scss';
@import './scss/general';
@import './scss/override';
@import './scss/fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background-color: $content;
  font-family: $font-primary !important;
  margin: 0;
}

* {
  font-family: $font-primary;
}

input::placeholder {
  color: $gray-600;
}

textarea::placeholder {
  color: $gray-600;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

img {
  object-fit: contain;
}
