$black: #000;
$auth-bg: #111;
$content: #f2f4f5;

$white: #ffffff;

$gray-50: #ededec;
$gray-100: #eeeeee;
$gray-200: #cccccc;
$gray-300: #d2d1d0;
$gray-400: #999999;
$gray-500: #a5a3a2;
$gray-600: #666666;
$gray-700: #333333;

$primary: #78cac7;
$primary-medium-100: #bbe4e3;
$primary-light-50: #e4f4f4;

$yellow: #e2d834;
$yellow-medium: #f0eb99;
$yellow-light: #f9f7d6;

$green: #aedd42;
$green-medium: #d6eea0;
$green-light: #eff8d9;

$secondary: #662e8d;
$secondary-medium: #662e8d;
$secondary-light: #e0d5e8;

$sky: #00a2c9;
$sky-medium: #7fd0e4;
$sky-light: #ccecf4;

$rose: #c72d69;
$rose-medium: #e396b4;
$rose-light: #f4d5e1;

$dark-blue: #3972b8;
$dark-blue-medium: #9cb8db;
$dark-blue-light: #d7e3f1;

$error-50: #f8d9d9;
$error-100: #ee9f9f;
$error-200: #de4141;
$error-300: #9e0a08;

$success-50: #cbfbd7;
$success-100: #9eedb1;
$success-200: #60be7a;
$success-300: #1e753e;

$warning-50: #f9ebd7;
$warning-100: #f0cc9b;
$warning-200: #e19b39;
$warning-300: #cc830b;
