.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.tab {
  font-size: 14px;
  font-weight: 700;
  color: var(--gray-600);
  cursor: pointer;
}

.tab-active {
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
}

.tab::after {
  content: ' ';
  display: block;
  height: 3px;
  width: 100%;
  background-color: transparent;
  margin-top: 10px;
}

.tab-active::after {
  content: ' ';
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--black);
  margin-top: 10px;
}
